name: Generate Pac-Man Game

on:
  schedule:
    - cron: "0 0 * * *" 
  workflow_dispatch:

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      # Langkah 1: Checkout branch main
      - uses: actions/checkout@v4

      # Langkah 2: Menghasilkan SVG Pac-Man
      - name: Generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      # Langkah 3: Commit dan Push file baru ke branch main
      - name: Commit and push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "feat: Update Pac-Man SVG"
          # Menyimpan file SVG ke folder /assets/pacman di branch utama
          file_pattern: 'dist/pacman-contribution-graph*.svg'
